::-webkit-scrollbar {
    display: none;
}

 ::-webkit-scrollbar-button {
    display: none;
}


/* Optional: show position indicator in red */

::-webkit-scrollbar-thumb {
    background: #FF0000;
}

.desktop-view {
    display: block;
    height: 3em;
}

.mobile-view {
    display: none;
}

.mobile-view-segment {
    display: none;
    margin: 0px;
    padding-bottom: 3px;
}

@media only screen and (max-width: 800px) {
    .desktop-view {
        display: none !important;
    }
    .mobile-view,
    .mobile-view-segment {
        display: flex;
    }
}