::-webkit-scrollbar {
    display: none;
}

 ::-webkit-scrollbar-button {
    display: none;
}


/* Optional: show position indicator in red */

::-webkit-scrollbar-thumb {
    background: #FF0000;
}

.desktop-view {
    display: block !important;
}

.mobile-view {
    display: none !important;
}

.mobile-view-segment {
    margin: 0px !important;
    padding-bottom: 3px !important;
}

@media only screen and (max-width: 800px) {
    .desktop-view {
        display: none !important;
    }
    .mobile-view {
        display: flex !important;
    }
}