.insert-info {
    margin-left: 11%;
}

@media only screen and (max-width: 800px) {
    .table-header {
        display: none !important;
    }
    .insert-info {
        margin-left: 0;
    }
    .amount {
        color: red;
        margin-bottom: 15px;
    }
    .category {
        font-weight: bold;
    }
    .description {
        font-size: 0.9em;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin-bottom: 15px;
    }
}