/*
body {
    background-image: url("/login-photo.jpg");
    background-size: 100vw 100vh;
    ;
}
*/

html,
body {
    overflow-y: hidden;
}

::-webkit-scrollbar {
    width: 0px;
    /* Remove scrollbar space */
    background: transparent;
    /* Optional: just make scrollbar invisible */
}


/* Optional: show position indicator in red */

::-webkit-scrollbar-thumb {
    background: #FF0000;
}